@import "./variables";

.popup {
  display: none;

  &__close {
    position: relative;
    top: -53px;
    right: -495px;
    width: 20px;
    height: 20px;
    background-color: #fdd000;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      right: 2px;
      transform: rotate(45deg);
      width: 80%;
      height: 1px;
      background-color: #000;
    }
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: 2px;
      transform: rotate(-45deg);
      width: 80%;
      height: 1px;
      background-color: #000;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__content {
    max-width: 700px;
    border: 1px solid #000;
    padding: 20px;
    background-color: #fbfbfb;

    .popup__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 0px;

      div {
        color: #a2a2a2;
        font-weight: 500;
        margin-bottom: 10px;
      }

      input {
        border: 3px solid #fbe685;
        color: #000;
        padding: 10px;
        font-weight: 600;
      }
    }
  }
}

.popup_active {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #27282994;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 875px) {
  .popup {
    &__close {
      position: relative;
      top: -84px;
      right: -258px;
      width: 20px;
      height: 20px;
      background-color: #fdd000;
    }

    &__content {
      max-width: 300px;

      .popup__grid {
        display: flex;
        flex-direction: column;
        text-align: center;

        .popup-month {
          order: 1;
        }
        .popup-day {
          order: 3;
        }
        #month {
          order: 2;
          text-align: center;
        }
        #day {
          order: 4;
          text-align: center;
        }
      }
    }
  }
}
